{%extends 'base.html'%}

{%block content%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <h2 class="text-center mb-4">Réinitialisation du mot de passe</h2>
                <p class="text-center">Veuillez vérifier votre boîte de réception et suivre les instructions pour réinitialiser votre mot de passe.</p>
            </div>
        </div>
    </div>
</div>


{%endblock content%}