.assistance-container{
  padding: 0 40px;
}

/* Global animation class */
.animation-class {
  opacity: 0;
  transform: translateX(-100px); /* Default slide in from left */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* When the element is in view */
.in-view {
  opacity: 1;
  transform: translateX(0); /* Moves to its original position */
}

/* If image is on the right, slide from right */
.image-right {
  transform: translateX(100px); /* Initially slide from right */
}

.image-right.in-view {
  transform: translateX(0); /* Moves to original position */
}

/* Container to hold text and image in a row */
.containers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  gap: 30px;
  padding: 20px;
  margin: 20px 20px;
  flex-wrap: wrap; /* Ensure flex items do not wrap to the next line */
}

/* Flex alignment for text */
.text-left {
  flex: 1;
  min-width: 50%;
  gap: 0px;
  opacity: 0px;
  margin-left: 20px;
}

/* Image styling */
.image-right {
  flex-shrink: 0; /* Prevent image from shrinking */
  width: 444px;
  height: 316px;
  border-radius: 17px;
  object-fit: cover;
}
.p {

  height: 250px;
  top: 66px;
  gap: 0px;
  opacity: 0px;
  text-align: left;
  margin-left: 20px;
}

.background-image {
  width: 100%;
  height: auto;
}

/*    2    and    4 */
/* Global animation class */
.animation-class-r {
  opacity: 0;
  transform: translateX(-100px); /* Default slide in from left */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* When the element is in view */
.in-view {
  opacity: 1;
  transform: translateX(0); /* Moves to its original position */
}

/* If image is on the right, slide from right */
.image-left {
  transform: translateX(-100px); /* Initially slide from right */
}

.image-left.in-view {
  transform: translateX(0); /* Moves to original position */
}
.text-right.in-view {
  transform: translateX(0); /* Initially slide from right */
}

/* Container to hold text and image in a row */

/* Flex alignment for text */
.text-right {
  flex: 1;
  min-width: 50%;
  opacity: 0px;
  margin-left: 20px;
  transform: translateX(100px); /* Initially slide from right */
}

/* Image styling */
.image-left {
  flex-shrink: 0; /* Prevent image from shrinking */
  width: 444px;
  height: 316px;
  border-radius: 17px;
  object-fit: cover;
}

.test {
  gap: 0px;
  width: 100%;
  height: fit-content;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  color: var(--blue);
  margin-bottom: 32px;
}

.background-image {
  width: 100%;
  height: auto;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-formation-button {
  background-color: var(--light-blue);
  color: white;
  padding: 10px 20px;
  width: fit-content;
  margin: 40px 0;
  border-radius: 8px;
  border: none;
  opacity: 0px;
  font-size: 18px;
  font-weight: bold ;
  transition: 0.3s ease-in-out;
}

.custom-formation-button:hover {
  background-color: white;
  color: #00a2e8;
  border: solid 1px rgba(0, 160, 216, 1);
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1150px) {
  .containers {
    justify-content: center;
    align-items: center;
  }
  
}

@media screen and (max-width: 800px) {

  .assistance-container{
    padding: 0 30px;
  }
  .containers {
    margin: 50px 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-left,
  .text-right {
    order: 1;
    margin-left: 0;
  }

  .image-right,
  .image-left {
    order: 2;
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 20px; /* Add margin-bottom to images */
  }

  .text-left p,
  .text-right p {
    order: 3;
  }

  .animation-class,
  .animation-class-r,
  .image-right,
  .image-left,
  .text-left,
  .text-right {
    transition: none;
    transform: none;
    opacity: 1;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .test {
    font-size: 20px;
    font-weight: bold;

    line-height: 24px;
  }

  .custom-formation-button {
    font-size: 15px;
  }
}
