{% block content %}
<a href="{% url 'employee' %}" class="dashboard-nav-item"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
<a href="{% url 'avis_list' %}" class="dashboard-nav-item {% if request.path == '/path/to/avis_list/' %}active{% endif %}"><i class="fas fa-file-upload"></i> Avis Client </a>
<a href="{% url 'devi_list' %}" class="dashboard-nav-item {% if request.path == '/path/to/devi_list/' %}active{% endif %}"><i class="fas fa-file-upload"></i> Devis Client </a>

<div class='dashboard-nav-dropdown'>
    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
        <i class="fas fa-photo-video"></i> Offre du stage
    </a>
    <div class='dashboard-nav-dropdown-menu'>
        <a href="{% url 'stage_list' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/stage_list/' %}active{% endif %}">List d'offre du stage</a>
        <a href="{% url 'stage_condidat_list' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/stage_condidat_list/' %}active{% endif %}">List des Stagiaires</a>
    </div>
</div>

<div class='dashboard-nav-dropdown'>
    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
        <i class="fas fa-users"></i> Offre d'emploi
    </a>
    <div class='dashboard-nav-dropdown-menu'>
        <a href="{% url 'job_list' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/job_list/' %}active{% endif %}">List d'offre d'emploi</a>
        <a href="{% url 'condidat_list' %}" class="dashboard-nav-dropdown-item">List des candidats</a>
    </div>
</div>

<div class='dashboard-nav-dropdown'>
    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
        <i class="fas fa-money-check-alt"></i> Multi Lab Report
    </a>
    <div class='dashboard-nav-dropdown-menu'>
        <a href="{% url 'report_list' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/report_list/' %}active{% endif %}">List des report</a>
        <a href="{% url 'report_client' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/report_list/' %}active{% endif %}">List des client</a>
    </div>
</div>

<div class='dashboard-nav-dropdown '>
    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
        <i class="fas fa-money-check-alt"></i>Multi Lab Projets
    </a>
    <div class='dashboard-nav-dropdown-menu'>
        <a href="{% url 'project_list' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/project_list/' %}active{% endif %}">List des Projets</a>
    </div>
</div>
<div class="nav-item-divider"></div>
<div class='dashboard-nav-dropdown '>
    <a href="#!" class="dashboard-nav-item ">
        <i class="fas fa-money-check-alt"></i>Multi Lab Analyse
    </a>
    
    
</div>
<div class='dashboard-nav-dropdown '>
    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
        <i class="fas fa-money-check-alt"></i>Produits Alimentaires
    </a>
    <div class='dashboard-nav-dropdown-menu'>
        <a href="{% url 'produitsalimentaires_list' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/project_list/' %}active{% endif %}">Microbiologie </a>
        <a href="{% url 'analyse' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/analyse/' %}active{% endif %}">Physicochimie</a>
       
    </div>
    
</div>
<div class='dashboard-nav-dropdown '>
    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
        <i class="fas fa-money-check-alt"></i>Produits Eaux
    </a>
    <div class='dashboard-nav-dropdown-menu'>
        <a href="{% url 'microbiologie_produits_eaux_list' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/microbiologie_produits_eaux_list/' %}active{% endif %}">Microbiologie </a>
        <a href="{% url 'physicochimiques_produits_eaux_list' %}" class="dashboard-nav-dropdown-item {% if request.path == '/path/to/project_list/' %}active{% endif %}">Physicochimie</a>
       
    </div>
</div>
<div class='dashboard-nav-dropdown '>
    <a  href="{% url 'alimentation_animale_list' %}"  class="dashboard-nav-item ">
        <i class="fas fa-money-check-alt"></i>Alimentation Animale
    </a>
   
        
</div>
<div class="nav-item-divider"></div>
<form action="/logout/" method="post">
    {% csrf_token %}
<button type="submit" class="dashboard-nav-item border-0 bg-transparent text-white "><i class="fas fa-sign-out-alt"></i> Logout </button></form>
{% endblock %}
