{% load static %}
{% block content %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'employee' %}">
        
        <div class="sidebar-brand-text mx-3"><img src="{% static 'images/logo VF.png' %}" width="150" alt="image"></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'employee' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'avis_list' %}">
            <i class="fas fa-file-upload"></i>
            <span>Avis Client</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'devi_list' %}">
            <i class="fas fa-file-upload"></i>
            <span>Devis Client</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-folder"></i>
            <span>Offre des Stages</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Multi Lab Stages:</h6>
                <a class="collapse-item" href="{% url 'stage_list' %}">List d'offre du stage</a>
                <a class="collapse-item" href="{% url 'stage_condidat_list' %}">List des Stagiaires</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-briefcase"></i>
            <span>Offre d'emploi</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Multi Lab Offre:</h6>
                <a class="collapse-item" href="{% url 'job_list' %}">Liste d'offre d'emploi</a>
                <a class="collapse-item" href="{% url 'condidat_list' %}">Liste des candidats</a>
                
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Multi Lab  Rapport
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'report_list' %}">
            <i class="fas fa-file-upload"></i>
            <span>Liste des rapports</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'report_client' %}">
            <i class="fas fa-file-upload"></i>
            <span>Liste des clients</span></a>
    </li>
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <div class="sidebar-heading">
        Multi Lab Projets
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'project_list' %}">
            <i class="fas fa-file-upload"></i>
            <span>Liste des Projets</span></a>
    </li>
    
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Multi Lab Analyse
    </div>
    <li class="nav-item ">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Produits Alimentaires</span>
        </a>
        <div id="collapsePages" class="collapse " aria-labelledby="headingPages"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                
                <a class="collapse-item" href="{% url 'produitsalimentaires_list' %}">Microbiologie</a>
                <a class="collapse-item" href="{% url 'analyse' %}">Physicochimie</a>
                
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Produits Eaux</span>
        </a>
        <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                
                <a class="collapse-item" href="{% url 'microbiologie_produits_eaux_list' %}">Microbiologie</a>
                <a class="collapse-item" href="{% url 'physicochimiques_produits_eaux_list' %}">Physicochimie</a>
                
            </div>
        </div>
    </li>
   
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'alimentation_animale_list' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Alimentation Animale</span></a>
    </li>

    <!-- Nav Item - Tables -->
    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>

{% endblock %}
