.formation-containerr {
  padding: 0 40px;
}
.formation-para {
  font-size: 18px;
  margin: 0 40px 40px;
}

.a3 {
  padding: 20px;
  background-color: var(--light-blue);
  color: white;
  text-align: center;
  font-weight: 1208px;
  margin: 50px 100px 0;
  border-radius: 17px;
}

.theme-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.theme-image:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}

.theme {

  animation: fadeIn 1s ease-in-out;
}

.formation-container {
  padding: 20px;
  text-align: center;
  background-color: white;
}

.section-title{
  font-size: 35px;
  font-weight: bold;
  color: var(--blue);
  margin: 40px 0 16px 40px;
  text-align: left;
}

.formation-containers {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  gap:40px 20px;
}

.formation-card {
  border-radius: 8px;
  max-width: 800px;
  min-width: 260px;
  text-align: center;
  height: max-content;
  flex: 1;
  gap: 64px;
}

.formation-image {
  width: fit-content;
  height: 200px;
  object-fit: cover;
  margin: 20px;
}

.formation-text{
  height: 100%;
  flex: 1;
  margin: 0;
  background: #cccccc40;
  padding: 20px 10px;
}

.formation-card h3 {
  color: var(--light-blue);
  font-size: 1.2em;
  margin: 10px 0;
}

.formation-card p {
  font-size: 1em;
  margin: 10px 6px;

}

.background-image {
  width: 1320px;
  height: 600px;
  opacity: 0;
  margin: 0 30px 10px;
}

.text-container {
  position: absolute;
  bottom: 20px;
  left: 35px;
  color: white;
}

/* ---------- */

.custom-formation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 40px 0;
}

.custom-formation-heading {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  line-height: normal;
  margin-bottom: 20px;
  max-width: 700px;
  color: var(--blue);
}

/* .custom-formation-button {
  padding: 12px 24px;
  background-color: var(--light-blue);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0;

  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
} */

.custom-formation-button:hover {
  background-color: white;
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

/* mobile */
@media (max-width: 768px) {
  .formation-containerr {
    padding: 0 30px;
  }
  .formation-containers {
    padding: 0;
  }

  .formation-para {
    font-size: 16px;
    margin: 0 0px 40px;
  }

  .formation-card {
    max-width: 100%;
    min-width: 100%;
    margin: 0;
  }

  .formation-card h3 {
    font-size: 16px;
  }

  .formation-card p {
    font-size: 15px;
  }

  .section-title{
    font-size: 18px;
    margin: 40px 0 16px 0;
  }

  .formation-image {
    width: auto;
    height: auto;
  }

  .custom-formation-heading {
    font-size: 18px;
  }


  .link2 {
    width: 80%;
  }
  

}

/* mobile */
@media (max-width: 420px) {
  .formation-image {
    width: 60%;
  }
}
