.analyse-container{
  padding: 0 40px;
}

.themes-section {
  padding: 30px;
  background-color: var(--light-blue); /* Blue background color */
  color: white;
  text-align: center;
  border-radius: 17px;
  margin: 0 50px;
}

.themes-title {
  flex-grow: 1;
  position: relative;
  color: white;
  background-color: transparent;
  font-size: 35px;
  text-align: left;
  margin-left: clamp(0px, 2vw, 50px);
  /* margin-bottom: clamp(50px, 5vw, 80px); */
  /* padding-bottom: clamp(50px, 5vw, 80px); */
}

.themes-title::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  background-color: white;
  top: 50px;
  bottom: 0;
  left: 0;
}

.themes-grid {
  display: flex;
  overflow-x: auto;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap:40px clamp(20px, 10vw, 120px) ;
  padding-top: clamp(50px, 5vw, 80px);

}

.theme{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  gap: 10px;
}

.theme-image {
  width: 200px;
  min-width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out; /* Smooth animation */
}

.theme-image:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.theme p{
  font-size: 20px;
  flex-grow: 1;
  max-width: 210px;
  width: 100%;
  text-align: center;
}

.logistics-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding:50px 50px;
}

.logistics-content {
  width: 717px;
  min-width: 360px;
  flex: 1;
}

.logistics-content h1 {
  color: var(--blue);
  height: Hug (370px);
  top: 3px;
  gap: 32px;
  font-size: 2rem;
  margin-bottom: 26px;
}

.logistics-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.logistics-image {
  flex: .6;
  width: 100%;
  display: flex;
  justify-content: center; /* Center the image */
  align-items: center;
}

.logistics-image img {
  width: 386.89px;
  max-width: 600px;
  height: 362px;
  object-fit: contain;
}

.image-container {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px ;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 640px;
  object-fit: cover;
  border-radius: 17px;
}

.text-container {
  position: absolute;
  width: auto; /* Make width dynamic */
  bottom: 20px; /* Adjust positioning as needed */
  left: 60px; /* Adjust positioning as needed */
  color: white;
}

.title-text {
  font-size: 55px; /* Adjust font size to match the "MULTILAB s.a" style */
  font-weight: bold;
  color: white;
}

.subtitle-text {
  font-size: 90px; /* Adjust to match size */
  color: transparent; /* Make the inside of the text transparent */
  font-weight: bold;
  -webkit-text-stroke: 1px white; /* White outline */
  text-transform: uppercase; /* Ensure all caps */
}

/* -------- video part -------- */
.video-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding:0 50px;
  gap: 20px;
  width: 100%;
}

.textContainer {
  flex: 1;
  padding-right: 30px;
}

.titles {
  font-weight: 700;
  color: var(--blue);
  font-size: 35px;
  margin-bottom: 32px;
  text-align: left;
}

.paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 26.82px;
  font-weight: 400;
  color: #121212;
  text-align: left;
}

.videoContainer {
  flex: 1;
  max-width: 500px;
  min-width: 300px;
}


.home-containers{
  margin:40px 50px;
}

@media (max-width: 1024px) {
  .themes-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
  }

  .title-text {
    font-size: 40px;
  }

  .subtitle-text{
    font-size: 68px;
  }


}

@media (max-width: 580px) {
  .themes-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 column for mobile */
  }
}

@media (max-width: 768px) {
  .analyse-container{
    padding: 0 30px;
  }
  
  .container {
    flex-direction: column;
  }
  .video-section {
    flex-direction: column;
    padding: 0 ;
  }

  .videoContainer {
    width: 100%;
    min-width: auto;
    height: auto;
  }

  .textContainer {
    padding-right: 0;
  }

  .themes-section{
    margin:0 -40px;
    border-radius: 0px;
  }
  
  .theme{

    max-width: 140px;
  }

  .theme p{
    font-size: 16px;
  }

  .themes-title {
    margin-left: 0px;
    font-size: 20px;
  }

  .themes-title::after {
    top: 30px;
    width: 20%;
  }

  .theme-image {
    width: 140px;
    height: 140px;
    min-width: 140px;
    max-width: 140px;
  }

  .themes-grid {
    justify-content: space-around;
    gap: 24px;
    align-items: start;
    flex-wrap: nowrap;
  }

  .home-containers{
    padding:40px 0px;
    margin:30px 0;
  }

  .title-text {
    font-size: 30px;
  }

  .image-container{
    margin-top: 4px;
  }
  .image-container, .banner-image{
    min-height: 240px;
  }

  .titles, .logistics-content h1{
    font-size: 20px;
  }

  .paragraph, .logistics-content p {
    font-size: 16px;
  }

  .logistics-section{
    flex-direction: column;
    padding: 0;
    margin: 30px 0;
  }

  .logistics-content {
    width: 100%;
    min-width: 100px;
  }

  .logistics-image img {
    width: 100%;
    min-width: 100px;
    height: auto;
  }

  .subtitle-text {

    font-size: 32px;
    font-weight: bold;
  }

  .text-container {
    width: auto; /* Make width dynamic */
    bottom: 12px; /* Adjust positioning as needed */
    left: 20px; /* Adjust positioning as needed */
    line-height: normal;
  }

  .banner-image {
    border-radius: 0px;
  }
}
