/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --blue: #013d8f;
  --light-blue: #00a0d8;
  --gray-heading: var(--gra-heading);
}
p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5; /* Improve readability */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--blue);
  font-weight: bold;
}

h1 {
  font-size: 2.5rem; /* Large header */
}

h2 {
  font-size: 2rem; /* Medium header */
}

h3 {
  font-size: 1.75rem; /* Smaller header */
}

h4 {
  font-size: 1.5rem; /* Smaller header */
}

h5 {
  font-size: 1.25rem; /* Smaller header */
}

h6 {
  font-size: 1rem; /* Smallest header */
}


body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container-f {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  display: flex;
  gap: 20px;

}

/* Custom footer styles */
.footer {
  background-color: rgba(204, 204, 204, 0.8);
  color: #343a40;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
}

.footer h5 {
  font-weight: bold;
  color: #104681;
}

.footer p,
.footer li,
.footer a {
  font-size: 1rem;
  color: #343a40;
  margin: 0;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.footer ul {
  padding-left: 0;
  list-style-type: none;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer .thirdone{
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.thirdone .footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 10px;
}

.footer-contact .social-icons {
  display: flex;
}

.footer-contact h5 {
  margin-bottom: 10px;
}

.social-icon {
  font-size: 24px;
  color: var(--blue);
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}

.social-icons h5{
  margin-bottom: 12px;
}

.footer .firstone {
  flex: 1.2;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  align-items: start;
  gap: 20px;
}

.footer .firstone .text {
  color: var(--blue);

  font-weight: bold;
  margin-bottom: 0;
}

.footer .footer-logo {
  max-width: 100%;
  height: 55px;
  object-fit: contain;
  display: inline-block;
  align-items: start;
}

.footer .secondone{
  flex: 0.8;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
}

.footer .menu-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer .menu-column {
  width: fit-content;

}

.footer .menu-column ul {
  list-style: none;

  width: max-content;
  
}

.footer .menu-column li {
  margin-bottom: 16px;
}

.footer .menu-column a {
  text-decoration: none;
  color: #000;
}

.footer .menu-column a:hover {
  color: #007bff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container-f {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footer .row {
    flex-direction: column;
    align-items: center;
  }

  .footer .col {
    max-width: 100%;
  }

  .footer .secondone{
    width: 370px;
    margin:  0 auto;

  }

  .footer .menu-container {
    justify-content: start;
    align-items: start;
  }
  .footer .thirdone {
    text-align: left;
    gap: 20px;
    height: 190px;
  }
}

@media (max-width: 576px) {
  .footer p,
  .footer li,
  .footer a {
    font-size: 0.8rem;
  }

  .footer img {
    width: 200px;
  }

  .footer .secondone{
    margin:  0 auto;
  }
}

/* Styles for navbar items */
.navbar-nav {
  display: flex;
  gap: 20px;
  transition: 0.2s ease-in-out;
}

.navbar-nav .nav-link {
  color: #000000;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none; /* Ensure no default underline */
}

/* Pseudo-element for the expanding line */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0px; /* Adjusted to match the custom underline */
  left: 50%;
  background-color: #0056b3;
  transition: width 0.4s ease, left 0.4s ease;
}

/* Hover effect to expand the line */
.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.navbar-nav .nav-link:hover {
  color: #0056b3;
  font-weight: 700;
}

/* Active nav item */
.navbar-nav .nav-link.active::after {
  width: 100%;
  left: 0;
}

.navbar-nav .nav-link.active {
  color: #0056b3;
  font-weight: 500;
}
.nav-link {
  cursor: pointer;
}

.navbar {
  padding-left: 40px;
  height: 70px;
}

.search-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.search-btn-mobile {
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.search-icon,
.menu-toggler-icon {
  font-size: 28px;
  cursor: pointer;
}

.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.search-popup-content {
  background: white;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  width: 90%;
}

.search-popup-content input {
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.menu-toggler {
  display: none;
  border: none;
  background-color: transparent;
}

@media (max-width: 1024px) {
  .navbar-nav {
    gap: 0px;
  }
}

/* Mobile menu styles */
.mobile-menu {
  display: none;
  flex-direction: column;
  /* align-items: center; */
  background-color: white;
  padding-bottom: 10px;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  
}

.mobile-menu a {
  color: #000;
  font-size: 18px;
  margin: 10px 20px;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.mobile-banner{
  display: none;
}



@media (max-width: 766px) {
  .mobile-menu {
    display: flex;
  }

  .search-btn-mobile,
  .menu-toggler {
    display: flex;
  }
  .footer{
    padding: 30px;
  }

  .mobile-banner {
    display: block;
  }

  .desktop-banner {
    display: none;
  }

}

/* Accordion styles */
.accordion {
  width: 100%;
  border: none;
  display: flex;
}

.accordion-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.accordion-header {
  width: 100%;
  flex-grow: 1;
  padding: 10px 20px;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* Add this line */
  align-items: center; /* Add this line */
}

.expand-icon {
  transition: transform 0.3s;
  font-size: 24px;
}

.expand-icon.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  color: var(--blue);
}

.accordion-content a {
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: var(--blue);
  padding: 0 20px;
}

.accordion-content.show {
  display: flex;
}

.dropdown-arrow{
  margin-left: 12px;
  display: none;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover .dropdown-arrow{
  display: inline-block;
}

