.apropos-container {
  width: 100%;
  top: 724px;
  gap: 80px;
  opacity: 0px;
  padding: 0 40px;
}

/* apropos css*/
.apropos-banner-container {
  position: relative;
  width: 100%;
  margin-top: 20px;
  overflow: visible;
}

.banner-apropos {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 160px;
  max-height: 240px;
  object-fit: cover;
  border-radius: 10px; /* Optional: if you want rounded corners */
}

 .banner-text h2 {
  position: absolute;
  bottom: -10px; /* Move part of the text outside the image */
  left: 40px;
  background-color: var(--light-blue);
  color: white;
  border-radius: 2px;
  transform: translateY(30%); /* Moves the text 50% down */
  /* Optional styling to adjust for responsive */
  padding:12px 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 35px;
}


.Accreditation {
  margin-top: 80px;
  margin-bottom: 50px;
}

.Accreditation h1 {
  height: 34px;
  gap: 0px;
  font-size: 35px;
  font-weight: 700;
  line-height: 42.36px;
  text-align: left;
  color: rgba(1, 61, 143, 1);
  margin-bottom: 30px;
}

.Accreditation p {
  width: Fixed (1, 320px);
  font-size: 18px;
  size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: justify;
}

/*      */

.apropos-content {
  margin-bottom: 70px;
  font-size: 18px;
}

.apropos-content h1 {
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  color: var(--blue);
  margin-bottom:40px;
}

.apropos-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  gap: 50px;
}

.apropos-image {
  width: 100%; /* Responsive image width */
  max-width: 650px; /* Limit max width */
  min-width: 400px;
  height: 350px;
  object-fit: cover;
  object-position:bottom right;
  border-radius: 17px;
}

.par-text p {
  font-size: 18px;
  text-align: left;
  margin: 0;
}

.par-text .para {
  margin-bottom: 30px;
}

.apropos-text {
  margin: 0;
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: var(--light-blue);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;

}

.apropos-text:hover {
  transform: translateX(2px);
 }

.icons-container {
  margin-bottom: 30px;
}

.icons-container p {
  margin-bottom: 16px;
}

.icons {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  list-style: none;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.icons li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons .icon {
  color: var(--light-blue);
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.paragraph {
  margin-left: 60px;
  margin-top: 60px;
}

.image {
  width: 10px; /* Adjust width as needed */
}
.paragraph h1 {
  font-size: 24px;
  font-weight: bold;
  color: #0050a0;
}

.card-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.card.active {
  background-color: #f0f0f0;
}

img {
  max-width: 100%;
  height: auto;
}

.navigation-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.card-carousel-section {
  margin-top: 50px;
}

.card-carousel-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* test imgs */
.clients-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
}

.title {
  color: rgba(1, 61, 143, 1);
  font-size: 35px;
  font-weight: bold;
}

.description {
  font-size: 18px;
  margin: 0;
}

.carousel {
  position: relative;
  background-color: white;
  width: 100%;
}

.carousel-container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 20px 0;
  border-radius: 10px;
}

.clients-grid {
  display: flex;
  /* flex-wrap: nowrap; */
  /* justify-content: space-around; */
  margin: 0 -20px;
  margin-top: -20px;
  padding: 30px 0;
  gap: 60px;
  /* max-width: 100%; */
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.clients-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-decoration: none; /* Prevent underline */
  text-align: center;
  width: 100%;
  max-width: 320px;
  min-width: 300px;
  height: 284px;
  opacity: 1;
}

.clients-card:hover {
  transform: translateY(-5px);
}


.clients-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clients-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 26px 16px;
  flex-grow: 1;
}

.clients-title {
  color: var(--light-blue);
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}

.cards-container {
  gap: 1rem;
  overflow-x: auto;
  width: 100%; /* Adjust this to control the width of the visible cards */
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* Arrow buttons container */
.arrow-buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.arrow-button {
  background: var(--light-blue);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}

.arrow-button:hover {
  background: white;
  border: var(--light-blue) 1px solid;
  color: var(--light-blue);
}


.arrow-button .svg-inline--fa {
  font-size: 20px;
}

/* ---------- recherche and developement -------- */
.research-section {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.text-content h1 {
  color: var(--blue);
  font-size: 35px; /* Large header */
  margin-bottom: 15px; /* Space below header */
  text-align: left;
  font-weight: bold;
}

.text-content p {
  font-size: 16px; /* Normal text size */
  text-align: justify;
}

.image-content-mobile {
  display: none;
}

.image-content .lab-image {

  max-width: 600px; /* Limit max width */
  min-width: 300px;
  border-radius: 17px;
  object-fit: cover;
  
  height: 255px;
}

.swiper-container {
  width: 100%;
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 20px 10px;
  margin: 0 -10px;
}



/* Desktop */
@media (min-width: 1024px) {
  .apropos-body,
  .research-section {
    flex-direction: row;
  }
}

/* mobile */
@media (max-width: 768px) {
  .apropos-banner-container{
    margin-top: 4px;
  }

  .apropos-container {
    padding: 0 30px;
  }
  .image-content {
    display: none;
  }
  .image-content-mobile {
    display: block;
  }
  
  .apropos-{
    margin:0px -40px ;
  }

  .banner-apropos {
    width: 100%;height: auto;
    /* min-height: 170px; */
    border-radius: 0px;
    /* object-fit: cover ; */
  }

  .banner-text {
    padding:12px 32px;
  }

  .banner-text h2 {
    font-size: 18px;
    bottom: 14px;
  }

  .apropos-text {
    font-size: 18px;
  }

  .arrow-buttons {
    display: none; 
  }
  
  .arrow-button {
    background: var(--light-blue);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    width: 40px;
    height: 40px;
  }

  .research-section {
    margin-top: 30px;
  }

  .Accreditation h1,
  .apropos-content h1,
  .clients-container h1,
  .research-section h1
   {
    height: auto;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: normal;
  }

  .image-content-mobile  .lab-image{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: right; /* Show the right part of the image */
    border-radius: 17px;
  }
  .image-content-mobile {
    margin-bottom: 24px;
  }

  .Accreditation {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .Accreditation p{
    font-size: 16px;
  }

  p{
    font-size: 16px;
  }

  .carousel-container {
    padding: 20px 0;
  }
  .clients-grid {
    gap: 10px;
    overflow-x: auto;
  }

}

.icons br {
  display: none;
}
@media (max-width: 540px) {
  .apropos-image {
    height: 200px;
    min-width: 300px;
  }
  .icons br {
    display: block;
  }

}

