
{%extends 'base.html'%}
{% load static %}
{%block content%}


<div class="wrapper fadeInDown">
	<div id="formContent">
	  <!-- Tabs Titles -->
  
	  <!-- Icon -->
	  <div class="fadeIn first">
		<img src="{% static 'images/logo VF.png' %}"  id="icon" alt="MultiLab" />
		<h4 class="text-center">Envoyer un commentaire au client</h4>
	  </div>
  
	  <!-- Login Form -->
	  <form method="post">
		{% csrf_token %}
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		
		<input type="submit" class="fadeIn fourth" value="Confirmer">
	  </form>
  
	  <!-- Remind Passowrd -->
	 
  
	</div>
  </div>
{%endblock content%}